#commentEdit {
  width: 50em;
  height: 10em;
}

.reviewHome {
  color: white;
}

.reviews {
  background-color: rgba(0, 78, 72, 0.5);
  border-radius: 25px;
}

.reviewHeader {
  background-color: rgba(0, 78, 72, 0.5);
  border-radius: 25px;
  padding: 0.5em;
  position: sticky;
  top: 9em;
}
