#commentEdit {
  width: 18em;
  height: 8em;
  box-sizing: border-box;
  resize: none;
  margin: 0.5em;
}

.reviewHome {
  color: white;
}

.reviews {
  background-color: rgba(0, 78, 72, 0.75);
  border-radius: 25px;
}

.reviewHeader {
  background-color: rgba(0, 78, 72, 0.95);
  border-radius: 25px;
  padding: 0.5em;
  position: sticky;
  top: 9em;
}

.reviewButtons {
  display: flex;
}

.reviewEdit {
  background-color: rgba(0, 78, 72, 0.75);
  border-radius: 25px;
  color: white;
  padding: 0.5em;
}

.reviewForm {
  background-color: rgba(0, 78, 72, 0.75);
  border-radius: 25px;
  color: white;
  padding: 0.5em;
}

.reviewDelete {
  background-color: rgba(0, 78, 72, 0.75);
  border-radius: 25px;
  color: white;
  padding: 0.8em;
}
