.navMain {
  z-index: 1;
  position: sticky;
  top: 0;
}

.navHolder {
  display: flex;
  flex-wrap: nowrap;
}

.nav-item {
  list-style-type: none;
  margin: 0em 2em;
  border: solid lightblue 2px;
  /* background-color: darkorchid; */
  padding: 0.5em;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-link {
  color: lightblue;
}

img {
  width: 30%;
  height: 30%;
}

span {
  text-decoration: underline;
}
